/* ProductForm.css */
.product-form {
    margin-bottom: 20px;
  }
  
  .product-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .product-form input {
    width: 20%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .product-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  